*{
	margin:0 auto;
	font-size:16px;
	padding:0px;
	
}
.father
{
	width:1100px;
	height:720px;
	margin:5px auto;
		
}
.banner
{
	height:120px;
	width:1100px;
	background-image:url(../images/banner2.0.jpg);
	background-repeat:no-repeat;
    
}
.menu
{
	width:1100px;
	height:30px;
	background-image:url(../images/menu.jpg);
	background-repeat:repeat-x;
	
}
#clock
{
	padding-left:10px;
	font-size:13px;
}
.Exit
{
	float:right;
	margin-top:5px;
	margin-right:10px;
	color: #ce8905;
	
	width:1005px;
}
#Label3
{
	  padding-left:540px;
}
.Exit a:hover
{
	font-size:15px;
	color:#2162A0;
}
.Exit a:link
{
	font-size:13px;
	color:#2162A0;
}
.Exit a:active
{
	font-size:13px;
	color:#2162A0;
}
.Exit a:visited 
{
	font-size:13px;
	color:#2162A0;
}
.floor
{
	text-align:center;
	padding-top:0px;
	height:80px;
	width:1100px;
	background-image:url(../images/Foot.png);
	background-repeat:no-repeat;
		font-size:12px;

}
.Copy
{
	margin-top:10px;
	padding-top:30px;
	font-size:12px;
	color:#194056;
}
.right
{
	margin-top:16px;
	float:left;
	margin-left:-10px;
	width:830px;
   
}
#right_ifam
{
	width:830px;
	
}
.main
{
	
	width:1100px;
	height:500px;
}
.info
{
	height:480px;
	width:730px;

}
.left
{
	margin-top:18px;
	float:left;
	height:443px;
	width:260px;

}
.Tab
{
	
}
.top
{
	font-size:14px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	width:730px;
	background-color:#4bbbfb;
}
ul,ol,li{margin:0;padding:0;border:0;list-style-type:none} input,select{font-size:12px}
a{color:#010101;text-decoration:none;outline:none} a:hover{text-decoration:underline}
.Tab{height:87%;
width:200px;text-align:left;float:left;
}
.Tab .title,.Tab .title div,.Tab .title .n1,.Tab .title .n1 span,.Tab .title .n2,.Tab .title .n2 span{ }
.Tab .title{height:25px; background:url(../Images/leftBg_03.jpg); background-repeat:repeat-y; font-size:14px; font-family:宋体; }
.Tab .title div{background-position:right top;display:block;height:100%;color:White;}
.Tab .title .n1,.Tab .title .n2{height:25px;line-height:25px; display:block;text-align:center;color:white; text-decoration:none}
.Tab .title .n1 span,.Tab .title .n2 span{display:block;}
.Tab .title .n2{ background:url(../Images/leftBg_02.jpg); height:25px; background-repeat:repeat-y; color:White;}
.Tab .title .n2 span{}
.tabcon ul{ background:url(../Images/leftBg_01.jpg)}
.tabcon ul li{height:20px;line-height:20px;overflow:hidden;display:block; font-size:12px; padding-left:60px;}
.tabcon ul li a{ float:left;width: 135px;}
.tabcon ul li span{ float:right;}
#LeftTop{ width:204px; height:42px; background:url(../Images/leftTop.jpg)}
.line{ height:1px; background-color:White; overflow:hidden;}
a:hover { text-decoration:none; color:#ccc} 
a:link { text-decoration: none; color: #2162a0} 
a:active { text-decoration:none; color:#ff9001} 
a:visited { text-decoration: none; color:#2162a0} 
.img1{ line-height:25px; text-align:left; padding-left:55px;}