*
{
   margin:0px auto;	
   padding:0px;
	}


.main
{
   margin-top:15px;
   height:400px;
   text-align:center;
}
.InfoTable
{
	border:1px solid #CCC;
	height: 220px;
	width: 500px;
		border-collapse:collapse;
}
.InfoTable td
{
	border:1px solid #CCC;
	padding-left:30px;
}

