/* CSS Document */
    *
    {
    	padding:0px;
    	margin:0px;
	
    	}
	body
	{
		
  
	}
    #father
    {
    	width: 1100px;
		height: 685px;
    	padding:0px;
    	margin:0px auto;
    	background-image:url(../images/Login.jpg);
		background-repeat:no-repeat;
		background-position:center;

	}
    #login
    {
    	width:267px;
    	height:136px;
    	line-height:35px;
    	font-family:ו;
    	font-size:12px;
	    position: relative;
		left: 495px;
		top: 245px;
	    padding:20px;
    	}
    #login
    {
     padding-top:10px;
     padding-left:50px;
    	}
   
   
    .name1
    {
    	width:36px;
    	height:30px;
    	float:left;
    	padding-left:10px;
    	}
    .name2
    {
    	padding-bottom:20px;
	height: 20px;
}
    .pwd
    {
    	float:left;
    	width:36px;
    	height:30px;
    	padding-left:10px;
    	}
   
    #btn
    {
    	margin-left:50px;
    	padding-left:20px;
    	margin-right:30px;
    	padding-top:10px;
	width: 91px;
}
  #lblMessage
  {
		margin-left :30px;
  }